In [8]:
import pandas as pd
import numpy as np

In [2]:
DATA_FILE ="dump_with_rev_store.pkl" # review정보 포함한것 + 주소 업데이트한 store
DATA_STORE = 'dump_store.pkl'

In [3]:
def _load_dataframes():
    try:
        data = pd.read_pickle(DATA_FILE)
        data_store = pd.read_pickle(DATA_STORE)
    except:
        print(f"[-] Reading {DATA_FILE} failed")
        exit(1)
    return data, data_store

In [5]:
dataframe, new_dataframe = _load_dataframes()

In [6]:
origin = dataframe['stores']
store = new_dataframe['stores']

In [17]:
list_a = np.array(origin['id'].tolist())
list_b = np.array(store['id'].tolist())

In [32]:
for x in np.setdiff1d(list_a,list_b):
    print(origin[origin['id']==x]['count'])

93764    0.0
Name: count, dtype: float64
96203    0.0
Name: count, dtype: float64
97149    0.0
Name: count, dtype: float64
107528    0.0
Name: count, dtype: float64
109215    0.0
Name: count, dtype: float64
109387    0.0
Name: count, dtype: float64
111763    0.0
Name: count, dtype: float64
115827    0.0
Name: count, dtype: float64
116057    0.0
Name: count, dtype: float64
116780    0.0
Name: count, dtype: float64
125197    0.0
Name: count, dtype: float64
125388    0.0
Name: count, dtype: float64
143036    0.0
Name: count, dtype: float64
147118    0.0
Name: count, dtype: float64
152707    0.0
Name: count, dtype: float64
154080    0.0
Name: count, dtype: float64
159918    0.0
Name: count, dtype: float64
160125    0.0
Name: count, dtype: float64
164943    0.0
Name: count, dtype: float64
171156    0.0
Name: count, dtype: float64
171896    0.0
Name: count, dtype: float64
172055    0.0
Name: count, dtype: float64
174988    0.0
Name: count, dtype: float64
184480    0.0
Name: count, dtype: float64
184522    0.0
Name: count, dtype: float64
199977    0.0
Name: count, dtype: float64
200487    0.0
Name: count, dtype: float64
208102    0.0
Name: count, dtype: float64
210666    0.0
Name: count, dtype: float64
212328    0.0
Name: count, dtype: float64
219968    0.0
Name: count, dtype: float64
228473    0.0
Name: count, dtype: float64
231592    0.0
Name: count, dtype: float64
232387    0.0
Name: count, dtype: float64
233609    0.0
Name: count, dtype: float64
249646    0.0
Name: count, dtype: float64
254097    0.0
Name: count, dtype: float64
266639    0.0
Name: count, dtype: float64
277489    0.0
Name: count, dtype: float64
280856    0.0
Name: count, dtype: float64
291694    0.0
Name: count, dtype: float64
292811    0.0
Name: count, dtype: float64
295162    0.0
Name: count, dtype: float64
297493    0.0
Name: count, dtype: float64
302461    0.0
Name: count, dtype: float64
319769    0.0
Name: count, dtype: float64
327177    0.0
Name: count, dtype: float64
333941    0.0
Name: count, dtype: float64
340356    0.0
Name: count, dtype: float64
358865    0.0
Name: count, dtype: float64
361319    0.0
Name: count, dtype: float64
364330    0.0
Name: count, dtype: float64
377472    0.0
Name: count, dtype: float64
383792    0.0
Name: count, dtype: float64
383851    0.0
Name: count, dtype: float64
390420    0.0
Name: count, dtype: float64
393343    0.0
Name: count, dtype: float64
395509    0.0
Name: count, dtype: float64
398227    0.0
Name: count, dtype: float64
402953    0.0
Name: count, dtype: float64
403322    0.0
Name: count, dtype: float64
407726    0.0
Name: count, dtype: float64
410110    0.0
Name: count, dtype: float64
415079    0.0
Name: count, dtype: float64
422438    0.0
Name: count, dtype: float64
424170    0.0
Name: count, dtype: float64
425408    0.0
Name: count, dtype: float64
425823    0.0
Name: count, dtype: float64
425903    0.0
Name: count, dtype: float64
425988    0.0
Name: count, dtype: float64
426096    0.0
Name: count, dtype: float64
426407    0.0
Name: count, dtype: float64
431306    0.0
Name: count, dtype: float64
440999    0.0
Name: count, dtype: float64
441980    0.0
Name: count, dtype: float64
442181    0.0
Name: count, dtype: float64
444080    0.0
Name: count, dtype: float64
444967    0.0
Name: count, dtype: float64
450137    0.0
Name: count, dtype: float64
453515    0.0
Name: count, dtype: float64

In [15]:
origin.shape

(459976, 11)

In [16]:
store.shape

(459896, 12)

In [ ]:
store.head()

In [26]:
store.loc[store['id']==2]

,id,store_name,branch,area,tel,address,latitude,longitude,category,total,count,addr
1,2,Assisy,NaN,광주,062-367-0700,광주광역시 서구 농성동 631-33,35.1507,126.89,카페,0.0,0.0,광주광역시